@media (max-width: 1200px) {
  .slider_text h3 {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .slider_text h3 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .slider_text h3 {
    font-size: 20px;
  }
  .slider_text p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .slider_text h3 {
    font-size: 18px;
  }
  .slider_text p {
    font-size: 12px;
  }
}
